* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body{
    background: url('/src/pages/images/fondo1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    display: flex;
    flex-direction: column;
}

.container{
    background-color: rgba(185, 180, 180, 0.623);
    border-radius: 10px;
    flex: 1 0 auto,
}
